/*--font--------------------------------------------------------*/

@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto/roboto-black-webfont.eot');
    src: url('fonts/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto/roboto-black-webfont.woff') format('woff'),
         url('fonts/roboto/roboto-black-webfont.ttf') format('truetype'),
         url('fonts/roboto/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--base style--------------------------------------------------*/

body 
{
	font-family: 'robotoregular', sans-serif;
    color: rgb(92, 90, 90);
}
h1
{
    text-transform: uppercase;
    font-family: 'robotoblack';
    color: #333;
    margin-bottom: 0;
}

/*...Déco services et protfolio...*/
.deco
{
   display: flex;
   position: relative;
}

.circle
{
    width: 13px;
    height: 13px;
    background-color: rgb(92, 173, 211);
    border-radius: 50%;
    position: relative;
    top:5px;
}
.border_before
{
    border-bottom: 1px solid rgb(190, 187, 187);
    width: 50px;
    margin-right: 5px;
}
.border_after
{
    border-bottom: 1px solid rgb(190, 187, 187);
    width: 50px;
    margin-left: 5px;
}

/*--header------------------------------------------------------*/

header
{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 3;
    height: 120px;
}

header .logo
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.logo img 
{
    width: 100%;
}

header nav ul
{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a
{
    text-decoration: none;
    color: rgb(114, 106, 106);   
}

header nav a:hover
{
    border-top: 3px solid rgb(92, 173, 211);
}

/*---Accueil part-----------------------------------------------*/

#accueil
{
    margin-top: 120px;
}

.child
{
    position: relative;
    height: 250px;
    background-image: url('images/slider/bg1.jpg');
    background-color: rgba(36, 37, 39, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.semi_circle_left
{
    width: 22px;
    height: 52px;
    background-color: rgba(34, 31, 31, 0.3);
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    position: absolute;
    top: 80px;
    cursor: pointer;
}

.semi_circle_right
{
    width: 22px;
    height: 52px;
    background-color: rgba(34, 31, 31, 0.3);
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
    position: absolute;
    right: 0;
    top: 80px;
    cursor: pointer;
}

.fa-angle-left
{
    color: white;
    font-size: 22px;
    position: absolute;
    left: 1px;
    top: 95px;
    cursor: pointer;
}

.fa-angle-right
{
    color: white;
    font-size: 22px;
    position: absolute;
    right: 1px;
    top: 95px;
    cursor: pointer;
}

.text_button 
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.text_button h1
{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.webagency_blue
{
    color: rgb(92, 173, 211);
}

.text_accueil
{
    color: white;
    font-size: 12px;
}

.more_infos
{
    background-color: rgb(92, 173, 211);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 300;
    color: whitesmoke;
    box-shadow: 0px 2px 2px 0px rgb(52, 158, 194);
    cursor: pointer;
}

/*--Services part-----------------------------------------------*/

#services
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 95px;
}

#services h2
{
    color: #333;
}

.services-text 
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.relative_icons
{
    position: relative;
}

.img_computer img 
{
    width: 100%;
}

.base
{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}
.border_circle
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(190, 187, 187);
    margin: auto;
}


.litle_circle
{
    box-sizing: content-box;
    width: 13px;
    height: 13px;
    background: rgb(92, 173, 211);
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    right: -5px;
    bottom: 19px;
}


.fa-chart-line, 
.fa-cubes,
.fa-chart-pie
{
    color: rgb(92, 173, 211);
    position: absolute;
    top: 20px;
    right: 20px;
}

/*-- Portfolio part---------------------------------------------*/

#portfolio
{
    background-color: rgb(245, 245, 245);
    padding-bottom: 20px;
    padding-top: 95px;
}

.text_portfolio
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.galery_button ul
{
    width: 95%;
    background-color: rgb(228, 227, 227);
    font-weight: 100;
    font-size: 19px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.galery_button li 
{
    position: relative;
    width: 25%;
    text-align: center;
}

.galery_button a
{
    position: relative;
    display: block;
    text-decoration: none;
    color: rgb(92, 90, 90);
    padding: 15px 5px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radius_left
{
    border-radius: 5px 0px 0px 5px;
}
.radius_right
{
    border-radius: 0px 5px 5px 0px;
}

.galery_button a:hover
{
    color: white;
    background-color: rgb(92, 173, 211);
    border-bottom: 3px solid rgb(41, 117, 153);
    padding-bottom: 12px;
}

.galery_button a:hover .arrow 
{
    display: initial;
}

.arrow
{
    position: absolute;
    bottom: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(41, 117, 153);
    display: none;
}

.portfolio_section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.portfolio_img_size img 
{
    width: 100%;
}

.picture_animation
{
    position: relative;
    margin-bottom: 10px; 
	overflow: hidden;
}

.picture_animation:hover > .deco_img_portfolio
{
	opacity: 1;
	bottom: 4px;
}

.deco_img_portfolio
{
	width: 100%;
	height: 35%;
	background-color: rgba(0, 0, 0, .7);
	position: absolute;
	bottom: -129px;
	opacity: 0;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.eye_circles
{
    width: 40px;
    height: 40px;
    background: rgb(92, 173, 211);
    border-radius: 50%;
    top:5px;
    border: 3px solid white;
    position: absolute;
    top: -20px;
    right: 20px;
}

.fa-eye
{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deco_img_portfolio p
{
  color: white;
  margin-left: 5px;
}

.deco_img_portfolio span
{
    font-weight: bold;
}

/*-- Contact part-----------------------------------------------*/

#contact
{
    padding-top: 95px;
    background-color: rgb(245, 245, 245);
}

.map_size
{
    display: none;
    border: none;
}

.contact_infos
{
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    color: #333;
}

.contact_infos input,
.contact_infos textarea 
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px 5px; 
}

.contact_infos textarea 
{
    height: 200px;
}

input:focus, textarea:focus
{
    border:  1px solid rgb(92, 173, 211);
}

#submit_button
{
    background-color: rgb(92, 173, 211);
    color: whitesmoke;
    box-shadow: 0px 3px 2px 0px rgb(44, 127, 155);
    cursor: pointer;
    border: none;
}

/*--Media queries-----------------------------------------------
----------------------------------------------------------------*/

@media screen and (min-width: 768px) {
    /*---Header---*/
    header 
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 90px;
    }

    header .logo 
    {
        width: initial;
        margin-left: 50px;
        margin-bottom: 0;
    }

    header nav 
    {
        margin-right: 50px;
        min-width: 300px;
    }

    header nav li
    {
        padding-top: 36px;
        padding-bottom: 36px;
    }

    header nav a
    {
        padding-top: 33px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*---Accueil---*/
    #accueil
    {
        margin-top: 90px;
    }

    .child
    {
        height: 550px;
    }

    .semi_circle_left
    {
        width: 30px;
        height: 70px;
        top: 255px;
    }

    .semi_circle_right
    {
        width: 30px;
        height: 70px;
        top: 255px;
    }

    .fa-angle-left
    {
        font-size: 35px;
        left: 2px;
        top: 272px;
    }

    .fa-angle-right
    {
        font-size: 35px;
        right: 2px;
        top: 272px;
    }

    .text_button h1
    {
        font-size: 30px;
    }

    .text_accueil
    {
        color: white;
        font-size: 15px;
    }

    .text_accueil br
    {
        display: none;
    }

    .more_infos
    {
        border-radius: 3px;
        padding: 10px 15px;
        font-size: 20px;
    }
    /*---Services---*/
    .relative_icons 
    {
        display: flex;
        align-items: center;
    }

    .services_part 
    {
        width: 60%;
    }

    .service 
    {
        display: flex;
    }
    
    .base {
        margin-right: 15px;
    }

    .service-content 
    {
        text-align: justify;
    }

    .service-content h2 
    {
        margin-bottom: 0;
    }
    /*---Portfolio---*/
    .galery_button 
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .galery_button
    {
        width: 80%;
    }

    .picture_animation 
    {
        width: 45%;
    }
    /*---Contact---*/
    #contact 
    {
        position: relative;
        min-height: 800px;

    }

    .contact_infos 
    {
        width: 45%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        height: 620px;
    }

    .map_size 
    {
        display: block;
        width: 100%;
        height: 800px;
    }

    .overlay
    {
        width: 100%;
        height: 800px;
        position: relative;
    }

    .overlay::before
    {
        content: "";
        display: block;
        height: 800px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(92,173,211,.3);
    }

    #submit_button
    {
        width: 40%;
        margin-left: 5%;
    }
    
}

@media screen and (min-width: 1024px) {
    /*---Header---*/
    header .logo
    {
        margin-left: 130px;
    }

    header nav
    {
        margin-right: 130px;
    }
    /*---Accueil---*/
    .text_button h1
    {
        font-size: 33px;
    }
    /*---Portfolio---*/
    #portfolio 
    {
        padding-left: 30px;
        padding-right: 30px;
    }

    .galery_button
    {
        width: 45%;
    }

    .picture_animation 
    {
        width: 20%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .picture_animation p
    {
        font-size: 14px;
    }
    /*---Contact---*/
    .contact_infos 
    {
        width: 30%;
    }

}
